/* App.css */

@keyframes jitter {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.jitter-effect {
  animation: jitter 0.5s ease-in-out; /* 0.5s duration for the jitter effect */
}

.app {
  text-align: center;
  align-items: center;
}

html, body, .flex-layout-container {
  height: 100%; /* Ensure the layout container stretches fully */
}

.flex-layout-tabnode {
  height: 100%; /* Ensure the tab node also takes up 100% of the height */
}
